<!--
	px-vis-bar-chart demo

	When this file loads it displays a static chart, demonstrating data being defined directly through the <px-vis-bar-chart> element. The purpose of this
	is to show the general format for the data, but realistically is probably not what you would want to do unless it's a one-off static element.

	See the px-vis-timeseries example to see how to programatically interact with the data.

-->

<!--
 	Axis manipulation (e.g rotations of ticks, etc): https://www.predix-ui.com/#/elements/vis/px-vis-framework/px-vis-axis:property-labelRotation 

	These go into the "x-axis-config" or "y-axis-config" definitions below
-->

<!DOCTYPE html>
<html>
<head>
	<title>px-vis-timeseries demo</title>

	<!-- Begin Predix stuff -->

  <!-- Cross-browser support -->
  <script src="./webcomponentsjs/webcomponents-lite.js"> </script>
  <link rel="import" href="../../polymer/polymer.html" />
  <link rel="import" href="../../px-icon-set/px-icon-set.html" />

   <!-- Use the Predix theme if desired. -->
  <link rel="import" href="./px-theme/px-theme-styles.html"/> 
  <custom-style>
    <style include="px-theme-styles" is="custom-style"></style>
  </custom-style>
  
  <!-- Actual element we want to use -->
  <link rel="import" href="./px-vis-bar-chart/px-vis-bar-chart.html"/>
 

</head>
<body>

<!-- 

We configure this chart to have a margin so that it has enough space to show axis titles, etc.
We then set the chart-type to column because I want a stacked column chart, and configure the register to have
a vertical orientation as well as set the truncation to -1, which disables label truncation. Otherwise, a label like "My Long Label" turns into "My Lo...bel".
We configure the axes, setting a rotation for the xaxis ticks so they are easier to read since they are long.
We set the scale-padding to keep the bars from touching. 1 = touching.
Then we populate the chart data with an array of objects defining our data.
Finally we set the configuration, which defines what each data series is called and what the x and y values
are in our chart-data objects.

-->
<px-vis-bar-chart
	width="600"
	height="500"
	margin='{"left":100,"top":10,"bottom":150,"right":50}' 
	chart-type="column"
	register-config='{"type":"vertical", "truncationLength": -1}'
	x-axis-config='{"title": "Factory Number", "labelRotation":60}'
	y-axis-config='{"title": "Output ($)"}'
	scale-padding="0.5"
	chart-data='
	[
		{"factory":"Maine 01", "turbines":5, "wings":2, "mri": 0},
		{"factory":"Maine 02", "turbines":5, "wings":2, "mri": 0},
		{"factory":"Maine 03", "turbines":5, "wings":2, "mri": 0},
		{"factory":"Maine 04", "turbines":5, "wings":2, "mri": 0},
		{"factory":"Maryland 01", "turbines":5, "wings":2, "mri": 5},
		{"factory":"Maryland 02", "turbines":5, "wings":2, "mri": 5},
		{"factory":"Maryland 03", "turbines":5, "wings":2, "mri": 5},
		{"factory":"Michigan 01", "turbines":2, "wings":2, "mri": 2},
		{"factory":"Michigan 02", "turbines":3, "wings":1, "mri": 2},
		{"factory":"Michigan 03", "turbines":1, "wings":1, "mri": 4},
		{"factory":"Michigan 04", "turbines":1, "wings":5, "mri": 0},
		{"factory":"Michigan 05", "turbines":2, "wings":3, "mri": 0},
		{"factory":"Paris 01", "turbines":0, "wings":0, "mri": 6},
		{"factory":"Paris 02", "turbines":0, "wings":0, "mri": 3},
		{"factory":"Paris 03", "turbines":0, "wings":0, "mri": 5},
		{"factory":"Paris 04", "turbines":1, "wings":0, "mri": 4}
	]'
	series-config='
	{
		"turbines":{"name": "Turbine Production", "x":"factory", "y":"turbines"},
		"wings":{"name": "Wing Production", "x":"factory", "y":"wings"},
		"mri":{"name": "MRI Production", "x":"factory", "y":"mri"}

	}
	'


> </px-vis-bar-chart>
</body>
</html>