<!--
  Testing things with polymer. In particular creating custom DOM elements and toggling their visibility.
  Used with test.html/test_2.html. This was a quick thing to try out so apologies for the mess.
-->

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1, initial-scale=1, maximum-scale=1">
  <meta name="apple-mobile-web-app-capable" content="yes">
  <meta name="mobile-web-app-capable" content="yes">

  <title>Testing Polymer stuff</title>

  <!--
      Fast bootstrapping of the webcomponents-lite library. Only loads the library
      if the browser doesn't natively support web components.
    -->
  <script type="text/javascript">
    (function () {
      'use strict';

      var onload = function () {
        // For native Imports, manually fire WebComponentsReady so user code
        // can use the same code path for native and polyfill'd imports.
        if (!window.HTMLImports) {
          document.dispatchEvent(
            new CustomEvent('WebComponentsReady', { bubbles: true })
          );
        }
      };

      var webComponentsSupported = (
        'registerElement' in document && 'import' in document.createElement('link') && 'content' in document.createElement('template')
      );

      if (!webComponentsSupported) {
        var script = document.createElement('script');
        script.async = true;
        script.src = './webcomponentsjs/webcomponents-lite.js';
        script.onload = onload;
        document.head.appendChild(script);
      } else {
        onload();
      }
    })();
  </script>

  <!--
    Load theme files, apply default theme.
  -->
  <link rel="import" href="./px-theme/px-theme-styles.html">
  <custom-style>
    <style include="px-theme-styles" is="custom-style"></style>
  </custom-style>


  <!-- Import our custom dom module! -->
  <link rel="import" href="test_2.html">

  <!--
      Basic page styles.
    -->
  <style>
    html,
    body {
      margin: 0;
      padding: 0;
      height: 100vh;
      overflow-x: hidden;
    }
  </style>

</head>

<body>
  <!-- Show our custom module outright -->
  <test-module></test-module>

  <!-- Conditionally show our module. In this example I'm outside of the polymer setup
    so you can get a reference to the <dom-if> element and set .if = true to show or false
    to hide it.
  -->
  <dom-if id="showThing1">
    <template>
      <test-module></test-module>
    </template>
  </dom-if>

  <button type="Button" onclick="toggleTemplate()">Toggle template</button>

  <script>
    // Polymer stuff. Toggles the visibility of the element inside the <dom-if> above.
    //https://www.polymer-project.org/2.0/docs/devguide/templates#dom-if
    function toggleTemplate() {
      var element = document.getElementById("showThing1")
      element.if = !element.if
    }
  </script>
</body>

</html>
